@media (max-width: 1024px) {
    .games-container {
        margin: 0px 0px 24px;
    }
    .timer-container {
        padding: 12px;
        margin: 24px 0;
        .display-timer span {
            font-size: 20px;
            line-height: 24px;
        }
    }
}

@media (max-width: 572px) {
    .board {
        width: 100%;
    }
    .board-container {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(30%, 1fr));
        grid-gap: 5px;
    }
}