@media (max-width: 425px) { 

    .container-auth {
        height: 100%;
        width: 100%;
        padding: 40px 20px;
        justify-content: center;

        form {
            width: 100%;
        }
    }

    .input-form {
        width: 100%;
    }
}